@font-face {
  font-family: "Open Sans";
  src: local(), url(/Open_Sans/static/OpenSans-Bold.ttf)

}

#box {
  font-family: "Open Sans";
  font-weight: bolder;
  width: 450px;
  height: 550px;
  border-radius: 22px;
  background-color: #F96E45;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 90px;
  left: 900px;
  text-align: left;

}

.titulo1 {
  font-size: 20px;
  color:black;
  margin-left: 30px;
  font-weight:bold;
  top: 1000px;
  margin-bottom: 1;

}

.titulo2{
  font-size:10px;
  color:white;
  margin-left: 35px;
  font-size: xx-large;
  font-weight:bolder;
  line-height: 0.3;
  margin-bottom: 1;
}

.image {
  background-image: url(../images/Homem_computador.png);
  width: 100%;
  height: 900px;
  background-size:cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

form {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-left: 2%;
  
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}


html{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    background-color:rgba(255, 255, 255, 0.692);
    height: 100vh; 
    margin: 0;
    padding: 0; 
}

* {
  box-sizing: border-box;
}

.principal{
color: #000;
}


.cabecalho {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.692);
  padding: 35px 25px 30px 20px; /* Diminui o espaçamento interno do cabeçalho */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Reduz a largura do cabeçalho e adiciona um espaço extra nas margens */
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}


.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline;
  margin-right: 60px; /* Aumenta o espaçamento entre os itens do menu */
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px; /* Aumenta o tamanho da fonte dos itens do menu */
  position: relative;
  transition: color 0.3s ease; /* Adiciona uma transição suave na mudança de cor */
}

.menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #c7b700; /* Cor do traço */
  transform: scaleX(0); /* Inicialmente escondido */
  transition: transform 0.3s ease; /* Adiciona uma transição suave na mudança de escala */
}

.menu li a:hover::after {
  transform: scaleX(1); /* Exibe o traço */
}

.menu li a:hover {
  color: #ffd700; /* Mude para a cor desejada ao passar o mouse */
}

.container {
    display: flex;
    justify-content: center;
    width:auto;
    height:auto;
    margin: 0 auto;

  }

@media (max-width: 510px) {
  .video-content {
    width: 100%;
    height: auto;
    }
  }

.logo-content {
    width: 15%;
    height: 15%;
  }

.img-contentIndex{
    width: 55%;
    height: 55%;
  }

.contact-content{
    width: 10%;
    height: 10%;
}

.aud-content{
   width: 300px;
    height: 60px;
}
span.elementos{
  color:rgb(255, 0, 0);
}

.rodape {
  
  background-color: #000; /* Cor de fundo do rodapé */
  background-size:100%;
  color: #fff; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  font-size: 70%; /* Reduz o tamanho da fonte do rodapé */
  line-height: 1.5; /* Reduz o espaçamento entre as linhas do rodapé */
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%; 
  margin-top: auto; 

}

.rodape p {
  margin-bottom: 2px; /* Margem inferior para separar o texto do rodapé */
}

.rodape b {
  display: block; /* Transforma o elemento em bloco */
  margin-top: 15px; /* Margem superior para separar os nomes dos desenvolvedores */
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.separador-baixo{
  padding-bottom: 50px;  /* Adiciona 50px para baixo, use para customizar layout */
}
.separador-esquerda{
  padding-left: 50px;
}
.separador-direita{
  padding-right: 40px;
}
.wrapperGrid{
  display: grid;
}