html{
    font-size: 1em !important;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}


body{
    background-color:black;
    
}

.container {
    display: flex;
  }
  
  .container img,
  .container video {
    width: 33.33%;
  }

